* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Typography */

.josefin-sans-300 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.alata-regular {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Mobile 375 px */

.wrapper {
    padding: 0 24px;
}

.white-text {
    color: white;
}

/* Hero Image */

.hero {
    background-image: url("images/mobile/image-hero.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
}

.title-text { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title-text h1 {
    padding: 26px 24px;
    text-transform: uppercase;
    border: 2px solid white;
    font-size: 4rem;
}

/* Navigation menu */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.nav-links {
    display: none;
}

.overlay a {
    font-size: 2.4rem;
}

header .logo {
    z-index: 2;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.navigation button {
    background: transparent;
    border: none;
}

.overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
    transition: 0.5s;
}

.overlay-menu {
    position: relative;
    top: 25%;
    padding-left: 24px;
    display: grid;
    gap: 24px;
}

.overlay .close-x {
    position: absolute;
    top: 8%;
    right: 7%;
}

/* Section */
.section-1 { 
    margin-top: 96px;
}

.image-interactive {
    background-image: url("images/mobile/image-interactive.jpg");
    height: 25vh;
    background-size: cover;
    background-repeat: no-repeat;   
}

.text-interactive {
    text-align: center;
    padding: 48px 24px;
}

.text-interactive h2 {
    text-transform: uppercase;
    font-size: 3.2rem;
    padding-bottom: 16px;
}

.text-interactive p {
    font-size: 1.5rem;
    opacity: 50%;
}

/* Section 2 */

.images-grid {
    display: grid;
    gap: 44px;
}

.images-default {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: bottom;
    font-size: 2.4rem;
    text-transform: uppercase;
    padding: 20px;
}

.images-default h3 {
    margin: 0;
    line-height: 1.2;
    font-weight: 300;
}

.deep-earth {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%), url("images/mobile/image-deep-earth.jpg");
}

.night-arcade {
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%), url("images/mobile/image-night-arcade.jpg");
}

.soccer-team {
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%), url("images/mobile/image-soccer-team.jpg");
}

.the-grid {
    background-image:linear-gradient(-90deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%), url("images/mobile/image-grid.jpg");
}

.from-up {
    background-image:linear-gradient(-90deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%), url("images/mobile/image-from-above.jpg");
}

.pocket-borealis {
    background-image:linear-gradient(-90deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%), url("images/mobile/image-pocket-borealis.jpg");
}

.the-curiosity {
    background-image:linear-gradient(-90deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%), url("images/mobile/image-curiosity.jpg");
}

.make-it {
    background-image:linear-gradient(-90deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%), url("images/mobile/image-fisheye.jpg");
}

/* See all button */

.see-all {
    display: flex;
    justify-content: center;
    padding: 96px 0 34px;
}

.see-all button {
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 13px 38px;
    background-color: transparent;
    color: #000000;
    border: 1px solid black;
    letter-spacing: 5px;
}

/* Footer */

.footer-bg {
    background-color: black;
    padding: 56px 0;
}

.footer-info a,p {
    font-size: 1.5rem;
}

.footer-info p {
    opacity: 0.5;
}

.footer-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0 32px;
}

.media-icons {
    display: flex;
    gap: 16px;
}

/* Desktop 1440px */

@media(min-width: 1024px) {

    .wrapper {
        padding: 0 165px;
    }

    .hero {
        background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%), url("images/desktop/image-hero.jpg");
    }

    .title-text { 
        align-items: flex-start;
    }
    
    .title-text h1 {
        padding: 40px;
        font-size: 7.2rem;
        width: 58%;
    }

    /* Navigation */

    .open-menu {
        display: none;
    }

    .nav-links a {
        font-size: 1.5rem;
        position: relative;
    }

    .nav-links {
        display: flex;
        gap: 32px;
    }

    a::before,
    a::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease, left 0.3s ease;
    } 

    a::before {
        transform: translateX(50%);
    }

    a::after {
        transform: translateX(50%);
    }

    a:hover::before,
    a:hover::after {
        width: 50%;
        left: 0;
    }

    /* Section 1 */

    .text-interactive h2 {
        font-size: 4.8rem;
        padding-bottom: 25px;
    }

    .text-interactive {
        padding: 96px 0 0 96px;
        text-align: left;
    }

    .section-1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 160px;
        margin-bottom: 184px;
    }

    .image-interactive {
        background-image: url("images/desktop/image-interactive.jpg");
        height: 50vh;
        background-size: contain;
        grid-area: 1 / 1 / span 3 / span 3;
    }

    .section-1 .text-interactive {
        background-color: white;
        grid-area: 2 / 2 / span 2 / span 2;
    }

    /* Section 2 */

    .section-title-wrap {
        padding-bottom: 80px;
    }
    
    .images-grid {
        display: grid;
        gap: 30px;
        padding-bottom: 184px;
        grid-template-columns: repeat(4, 1fr);
    }

    .images-grid h3 {
        padding: 0 0 32px 40px;
        font-size: 3.2rem;
        font-weight: 300;
    }
    
    .images-default {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0;
        margin: 0;
        background-position: top;
        position: relative;
    }
    
    .deep-earth {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%), url("images/desktop/image-deep-earth.jpg");
    }
    
    .night-arcade {
        background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%),  url("images/desktop/image-night-arcade.jpg");
    }
    
    .soccer-team {
        background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%),  url("images/desktop/image-soccer-team.jpg");
    }
    
    .the-grid {
        background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%),  url("images/desktop/image-grid.jpg");
    }
    
    .from-up {
        background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%),  url("images/desktop/image-from-above.jpg");
    }
    
    .pocket-borealis {
        background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%),  url("images/desktop/image-pocket-borealis.jpg");
    }
    
    .the-curiosity {
        background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%),  url("images/desktop/image-curiosity.jpg");
    }
    
    .make-it {
        background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%),  url("images/desktop/image-fisheye.jpg");
    }

    .section-2 {
        position: relative;
    }

    .see-all {
        position: absolute;
        top: 0;
        right: 13%;
    }

    .see-all button:hover {
        background-color: black;
        color: white;
        cursor: pointer;
    }

    .images-default::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        background: rgba(255, 255, 255, 0);
        transition: background-color 0.3s ease;
    }

    .images-default:hover::after {
        background-color: rgba(255, 255, 255, 0.75);
    }

    /* footer */

    .footer-bg {
        padding: 0;
        margin: 0;
    }
    
    .footer-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 44px 165px;
    }
    
    .footer-links {
        display: flex;
        flex-direction: row;
        gap: 16px;
        padding: 16px 0 32px;
        grid-area: 2;
        position: relative;
    }
    
    .media-icons {
        display: flex;
        gap: 16px;
        justify-content: flex-end;     
        align-items: center;   
    }

    footer p {
        text-align: right;
    }

    footer a {
        position: relative;
    }
}


